<footer class="text-center mt-5">
  <p>&copy; 2024 Dian Kent. All rights reserved</p>
  <p>
    Connect with me on
    <a href="https://github.com/dian4285" target="_blank" class="btn btn-outline-dark btn-sm">GitHub</a> |
    <a href="https://ca.linkedin.com/in/dian-kent-109973326?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank" class="btn btn-outline-dark btn-sm">LinkedIn</a>
  </p>
</footer>
