<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %> - My Portfolio</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <%- include('partials/header') %>

  <main>
    <h2>Welcome to my website!</h2>
    <p>This website was made using HTML-5, CSS-3, and Express for a school project.</p>
  </main>

  <%- include('partials/footer') %>

</body>

</html>
