<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - My Portfolio</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <%- include('partials/header') %>

  <main class="container mt-5">
    <h2>Please Fill Out This Form to Contact Me!</h2>

    <section>
      <form action="mailto:ardian.kent@ontariotechu.net" method="POST" enctype="text/plain">
        <div class="mb-3">
          <label for="name" class="form-label">Name: </label>
          <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email: </label>
          <input type="email" id="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="message" class="form-label">Message: </label>
          <textarea id="message" name="message" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
          <label for="cell" class="form-label">Cell #: </label>
          <input type="number" id="cell" name="cell" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </main>

  <%- include('partials/footer') %>

</body>

</html>
