<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - My Portfolio</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <%- include('partials/header') %>

  <main class="container mt-5">
    <h2>Some projects I have worked on:</h2>
    <ul class="list-group">
      <li class="list-group-item"><b>I created a Tic-Tac-Toe game in Python</b></li>
      <li class="list-group-item"><b>I created a clock using JavaScript</b></li>
      <li class="list-group-item"><b>I did research on drones regarding their security for Durham Region Police</b></li>
    </ul>
  </main>

  <%- include('partials/footer') %>

</body>

</html>
